<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <h1>SESSION {{ session.id }}</h1>

    <script>
        var sessionId = {{ session.id }};
    </script>
    <script src="/js/session.js" type="module"></script>
</body>
</html>